.encabezado{ 
    background-color: white;
} 

body{ 
    background-color: lightgray;
}  



 
.valoracion{  

        position: absolute;
        display: block;
        z-index: 1;
   
} 

@media all and (min-width: 1200px){ 
    .valoracion{ 
        position: absolute;
        left: 158px;
        bottom: 30px;
        z-index: 1;
        max-width: 10%;
    }
}  



